<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- JDBC Database Connection Settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
		<property name="connection.username">montran</property>
		<property name="connection.password">montran</property>

		<!-- Select your SQL dialect -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>

		<!-- Echo the SQL on console -->
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">none</property>
		
		<mapping class="com.montran.pojo.Book_issue_return_pojo"/>
		<mapping class="com.montran.pojo.Book_pojo"/>
		<mapping class="com.montran.pojo.Member_Pojo"/>
		
		
		
	</session-factory>
</hibernate-configuration>
